body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fighter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 0 0;
}
.player-one{
  margin: 0 110px 0 0;
}
.player-two{
  margin: 0 0 0 110px;
}

.wrapper-footer {
  position: fixed;
  bottom: 0;
  margin: 0 0 5px 5px;
}

.head {
  text-align: center;
  background-color: black;
  color: orange;
  padding: 10px 10px 10px 10px;
  margin: 0 0 5px 0;
}

.nav-bar {
  text-decoration: none;
  color: orange;
  font-size: 20px;
}

.nav-bar.one{
  margin: 0 0 0 10px;
}

.nav-bar.two{
  margin: 0 0 0 20px;
}

.nav-bar.three{
  margin: 0 0 0 20px;
}

.button-continue{
  text-align: center;
  margin: 20px 0 0 0;
}
.container-stats{
  display: flex;
  align-items:center;
  justify-content: center;
}

.stats-title{
  text-align: center;
}

.stats-one{
  margin: 0 100px 0 0;
}

.stats-two{
  margin: 0 0 0 100px;
}

.green{
  color: green;
}

.red{
  color: red;
}

.player-link{
  text-align: center;
  text-decoration: none;
}

.top-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 100px;
}

.top-list p{
  margin: 0 0 20px 0;
}

.playerlist-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.player-top20{
  flex-basis: 24%;
}

.video-background{
  width: 100%;
  height: 100vh;
}

video{
  margin-top: 10px;
  width: 100%;
  height: 75%;
}

.stats-one{
  border-style: outset;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: rgba(255, 166, 0, .1);
}

.stats-two{
  border-style: outset;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  background-color: rgba(255, 166, 0, .1);
}

.container-question{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}

.question-img1{
  margin: 0 100px 0 0;
}

.question-img2{
  margin: 0 0 0 100px;
}

button{
  border-style: solid;
  border-color: rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.7);
  outline: inherit;
  border-radius: 5px;
  color: orange;
}

input{
  border-radius: 5px;
  min-width: 250px;
  height: 25px;
  font-size: 16px;
}

button:hover{
  background-color: rgba(32, 178, 170, .2);
}

.nav-bar:hover{
  color: rgba(255, 165, 0, .5);
}

.input-btn{
  height: 30px;
  font-size: 16px;
}